:host
{
  width: 100%;
}

paper-card
{
  width: calc(100% - 30px);
  margin: 15px;
  padding: 15px;
}

table
{
  width: 100%;
}

td
{
  text-align: left;
  padding: 10px;
}

td.icon-td
{
  width: 10%;
}

td.name-td
{
  width: 70%;
}

td.interaction-td
{
  width: 20%;
}
